$off-black: black;
$off-white: #97b5be;
$dark-blue: #333745;
$blue: rgb(87, 87, 214);
$light-blue: rgb(33, 33, 71);
$purple: rgb(124, 90, 202);
$s-size: 1.2rem;
$m-size: 1.68rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$body-bg: rgb(23, 23, 63);
$desktop-breakpoint: 45rem;
